
    body {
        background-color :rgb(168, 168, 168);
    }
    p {
        color :crimson;
        background-color :mediumblue;
        width: 500px;
    }
     
    .deux{
        background-color :rgb(0, 0, 255);
    }

    img{
        height: 150px;
        /*width: 200px;*/
        border-style: solid;
        border-width: 4px;
        border-color: white;
        border-radius: 80px;;
    }